<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Debug with gbd or valgrind -->
    <arg name="debug" default="" />

    <node pkg="rocoma_ros_example" type="rocoma_ros_example_node" name="rocoma_ros_example"
        output="screen" launch-prefix="$(arg debug)">
        <rosparam file="$(find rocoma_ros_example)/param/default_parameters.yaml" command="load" />
        <rosparam file="$(find rocoma_ros_example)/param/default_publishers.yaml" command="load" />
        <rosparam file="$(find rocoma_ros_example)/param/default_subscribers.yaml" command="load" />
        <rosparam file="$(find rocoma_ros_example)/param/default_services.yaml" command="load" />
    </node>

</launch>
